html, body, .app {
    height: 100%;
    margin: 0;
    overflow: auto;
}

.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-active {
  opacity: 0;
}

.container.is-fluid {
    margin: 0 20px;
}